body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .mae {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }
  
  .cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    width: 100%;

  }
  .rodape {
    background-color: lightblue;

  }
  
  .login {
    background-color: beige;
  }
  h1 {
    margin: 0;
  }
